{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}团队报名{% endblock %}

{% block page_content %}
    <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="page-header">
        <h3>团队报名</h3>
        </div>

        <div>
            <p>团队报名成功后，将显示在您的团队的*团队报名的活动*页面，
            点击活动会进入属于您团队的活动页面，团队会员可以在该页面上报名缴费。
            *队长有话说*的内容也将显示在该页面，您可以在这里输入需要会员报名时注意的内容，
                需要注意的是内容需要控制在500字内，也可以输入任何内容。</p>
            <p>您需要同时填写个人报名信息，团队报名团队管理人员必须参与活动</p>
            <p>考虑到团队报名，团队内成员会产生路费等其他额外资费，您可以重新制定活动价格。</p>
            <p>另外由于网站通过支付宝支付，支付宝对每笔支付都收取0.6%的手续费，
                所以网站将成员缴纳的活动费打到您账户的时候，会扣除这0.6%的手续费。</p>
        {{ wtf.quick_form(form) }}
        </div>
    </div>
    </div>


{% endblock %}