{% extends "team_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros/_user_avatar.html' as macros %}
{% import 'macros/_activity_list.html' as act_macros with context %}
{% block title %}{{ team.name }}报名的活动{% endblock %}

{% block team_content %}
     <ul class="nav nav-tabs nav-justified">
        <li><a href="{{ url_for('team.team_index', id=team.id) }}">活动</a></li>
        <li class="active"><a href="{{ url_for('team.activitys_team_join', id=team.id) }}">团队报名的活动</a></li>
        {# <li><a href="#">讨论区</a></li>
        <li><a href="#">攻略</a></li> #}
        <li><a href="{{ url_for('team.members', id=team.id) }}">会员</a></li>
    </ul>
    <div class="tabs-panel">
        {{ act_macros.render_activitys_team(activities, team.id) }}
    </div>

{% endblock %}