{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros/_star_picker.html" as macros %}
{% import "macros/_user_panel.html" as user_macros %}
{% import "macros/_user_avatar.html" as avatar_macros %}
{% import "macros/_team_details_cube.html" as team_macros with context %}
{% import "macros/_tools.html" as tools %}
{% block title %}{{ join.activity.name }}{% endblock %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/post.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/team.css') }}" />
{% endblock %}

{% block page_content %}
    {{ tools.render_share(join) }}
    <div class="row top-space">
    {# 团队信息+报名栏 #}
    <div class="col-sm-offset-1 col-sm-3">
            {{ team_macros.render_team_details_cube(join.team) }}

        <div class="card-shadow card-shadow-text">
            <div class="box">
                <span class="price">
                {{ join.team_price }}</span>
                {% if join.child_price %}
                <span class="child_price">
                <span class="highlight">儿童价格</span> {{ join.child_price }}</span>
                {% endif %}
            </div>
            <div class="box">
                <span class="highlight">队长</span>
                <a href="{{ url_for('user.profile',id=join.team.leader_id) }}">{{ join.team.leader.username }}</a>
            </div>
            <div class="box">
                <span class="highlight">联系电话</span>
                {{ join.phone }}
            </div>
            <div class="box">
                {% if join.team_content %}
                    <span class="highlight">队长有话说</span><br/>
                {{ join.team_content }}
                {% endif %}
            </div>
            <div class="post-btn">
                            {% if join.activity.past %}
                                <a href="#" class="btn btn-default disabled">活动已结束</a>
                            {% elif join.activity.joined(current_user) %}
                                {% if join.activity.paid(current_user) %}
                                    <a href="#" class="btn btn-default disabled">您已报名</a>
                                 {% else %}
                                    <a href="{{ url_for('team.activity_confirm', id=join.activity.unpaid_id) }}" class="btn btn-success">您已报名,去付款</a>
                                 {% endif %}
                            {% else %}
                                {% if join.activity.full %}
                                    <a href="#" class="btn btn-default">参与人数已达上限，不能报名了哦</a>
                                {% else %}
                                    <a href="{{ url_for('team.activity_join', id=join.activity.id, team_id=join.team_id) }}" class="btn btn-success">
                                        个人报名</a>
                                 {% endif %}
                            {% endif %}
                            {% if current_user.is_authenticated and join.team.is_admin(current_user) %}
                                <a href="{{ url_for('team.activity_join_details', id= join.activity_id, team_id=join.team_id) }}"
                                   class="btn btn-default">查看报名情况</a>
                                <a href="{{ url_for('team.activity_team_join_edit', id= join.id) }}"
                                   class="btn btn-default">修改报名信息</a>
                                <a href="{{ url_for('team.activity_team_join_cancel', id= join.id) }}"
                                   class="btn btn-default">取消团队报名</a>
                            {% endif %}
                        </div>
        </div>

    </div>
    {# 右侧活动详情#}
    <div class="col-sm-7 card-shadow card-shadow-text">
        <h1><a href="{{ url_for('team.activity',id=join.activity.id) }}">{{ join.activity.name }}</a> </h1>
        <div class="post" >{{ join.activity.introduce | safe }}</div>
        {% if solutions %}
            <h3>有以下几个活动行程方案可以选择</h3>
            {% include 'include/_activity_solutions.html' %}
        {% endif %}
    </div>
    </div>
{% endblock %}