{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}发布活动{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
    CKEDITOR.replace('introduce', {
        filebrowserImageUploadUrl: '/ckupload/',
        language : 'zh-cn',
        image_previewText:' ' ,
        height: 600
    });
    </script>
{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='ck/ckeditor/ckeditor.js') }}"></script>
{% endblock %}
{# {{ ckeditor.load(custom_url=url_for('static', filename='ck/ckeditor/ckeditor.js')) }}CKEDITOR.replace('ckeditor'); #}
{% block page_content %}
    <div class="row top-space">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">发布活动</h2>
            </div>
            <div class="panel-body">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
    </div>

{% endblock %}