{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}确认出行信息{% endblock %}

{% block page_content %}
    <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="page-header">
        <h3>确认出行信息</h3>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            出行信息
        </div>
        <div class="panel-body span-bold">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="highlight">报名序列号</span>
                {{ join.id }} |
                <span class="highlight">请记住您的序列号，凭序列号参加活动</span>
            </li>
            <li class="list-group-item">
                <span class="highlight">报名活动</span>
                <a href="{{ url_for('team.activity', id=join.activity_id) }}"> {{ join.activity.name }}</a>
            </li>
            {% if join.solotion_count %}
            <li class="list-group-item">
                <span class="highlight">选择方案</span>
                {{ join.solution_obj.name }}
            </li>
            {% endif %}
            {% if join.volunteer %}
            <li class="list-group-item">
                <span class="highlight">志愿者类型</span>
                {{ VolunteerType[join.volunteer] }}
            </li>
            {% endif %}
            <li class="list-group-item">
                <span class="highlight">报名类型</span>
                {{ RegistrationWay[join.registration] }}
            </li>
            <li class="list-group-item">
                <span class="highlight">活动时间</span>
                {{ moment(join.activity.start_date).format('L') }}-{{ moment(join.activity.end_date).format('L') }}
            </li>
            <li class="list-group-item">
                <span class="highlight">报名人</span>
                {{ join.user.username }}
            </li>
            <li class="list-group-item">
                <span class="highlight">备注</span>
                {{ join.comment }}
            </li>
            <li class="list-group-item">
                <span class="highlight">出行人信息(出于个人信息安全考虑，私密信息已在服务器做脱敏处理)</span>
            </li>
            {% for c in join.contacts %}
                <li class="list-group-item">
                {{ c.contact.name }}-{{ c.contact.identity_show }}-{{ c.contact.age }}-{{ c.contact.phone }}-{{ c.contact.province_show }}
                </li>
            {% endfor %}
            {% if not join.state %}
            <li class="list-group-item">
            <a href="{{ url_for('pay.start_alipay',id=join.id) }}" class="btn btn-success">
                        确认无误，去付款({{ join.price }}元）</a> |
                    <a href="{{ url_for('team.activity_join_edit',id=join.id) }}" class="btn btn-default">信息有误，去修改</a> |
                    <a href="{{ url_for('team.activity_cancel',id=join.id) }}" class="btn btn-default delete">取消报名</a>
            </li>
            {% endif %}
        </ul>
        </div>
    </div>

    {#
    这里保留了众筹付款的接口
     <div class="panel panel-primary">
    <div class="panel-heading">
        选择付款方式
    </div>
    <div class="panel-body">
        <div class="well"> <a href="#" class="btn btn-warning">自费付款</a></div>
        <div class="divider"></div>
        <div class="well">
            <h4>众筹付款</h4>
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    </div>
    #}
    </div>
    </div>

{% endblock %}