{% extends "admin_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros/_tools.html" as pager %}

{% block admin_title %}
用户列表
{% endblock %}

{% block admin_content %}
<table class="table table-striped">
  <thead>
    <tr>
        <th>序号</th>
        <th>用户ID</th>
        <th>用户名</th>
        <th>电话</th>
        <th>注册时间</th>
        <th>封号</th>
        <th>重置密码</th>
    </tr>
  </thead>
  <tbody>
  {% for item in users %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.timestamp }}</td>
        <td><a href="#">封号</a> </td>
        <td><a href="{{ url_for('auth.forget_password',token=item.generate_username_token()) }}">重置密码</a> </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    {{ pager.render_pagination(pagination, 'admin.users') }}
{% endblock %}