{% extends "admin_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros/_tools.html" as pager %}

{% block admin_title %}
管理显示在首页的置顶活动
{% endblock %}

{% block admin_content %}

<table class="table table-striped">
  <thead>
    <tr>
        <th>序号</th>
        <th>活动ID</th>
        <th>活动标题</th>
        <th>发布时间</th>
        <th>置顶</th>
        <th>操作</th>
    </tr>
  </thead>
  <tbody>
  {% for item in activities %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.timestamp }}</td>
        <td>
            {% if item.top %}
                <a href="{{ url_for('admin.un_top',id=item.id) }}">取消置顶</a>
            {% else %}
                <a href="{{ url_for('admin.top',id=item.id) }}">置顶</a>
            {% endif %}
        </td>
        <td><a href="{{ url_for('admin.delete_activity',id=item.id) }}">删除</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    {{ pager.render_pagination(pagination, 'admin.activities') }}
{% endblock %}