{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}致赞助商的一封信{% endblock %}


{% block page_content %}
<div class="row">
<div class="col-sm-offset-2 col-sm-8">
    <div class="invest top-space">
        <h1>致赞助商的一封信</h1>

        <h2 class="title">尊敬的商界领袖：</h2>
        <h2>您的企业、产品参与南太行“挂壁●天梯●画廊”万人帐篷节天上人间户外活动的战略合作意义</h2>
        <p>●这是一项公益性质的旨在推动全民健身的大型户外运动活动，参与这项运动的人群是有健康生活方式的、有激情追求的、有品位有品质的社会中高阶层精英达人，是引领社会消费的中坚力量和主力军。</p>
        <p>●为企业和产品赋予健康形象。精准的人群，让广告百分之百到达，去影响想要影响的人，从而获取性价比更高的价值回报。</p>
        <p>●公关营销可以贯穿于赛前、赛中、赛后整个过程，创造热点话题，吸引媒体的关注实现主动传播，激发旅行者、户外爱好者和潜在人群的参与热情，实现参赛者和赞助商的互动和企业品牌传播，是极具感染力的传播形式。</p>
        <p>●全国各地的参与者用微信、微博、互联网等渠道分享自己参与最具特色和纪念意义的信息，其庞大的数量以及背后潜在的朋友圈辐射作用，完全能够帮助城市、企业进行品牌聚焦放大曝光。</p>
        <p>●赛事运营和定位有创意性、新颖性、可参与性，赛事组织、品牌宣传、赛程设置、竞赛管理、安全保障，完美的展现出了一场让参与者满意，让志愿者开心和赞助商点赞的具有南太行特色的美誉和品牌效应，赞助商可获得更多的商业价值和商业机会。</p>
        <p>●互利共赢才是硬道理。赞助商以品牌、资金、物资的投入保障了赛事运营，在活动中才能够为参与者、志愿者提供优质的商品和贴心的服务，传播企业品牌，创造销售机会，进而在全国市场形成广泛的影响力。</p>
        <p>●对销售的促进作用：</p>
        <p>①这是一次巨大的体验式现场营销模式，让参目标客户群与赞助商产品直接接触、现场试用，实现品牌与目标客群点对点的零距离互动，让品牌深深地植入来自于全国各地1万余人的心里，聚集成强关联和高粘合度的消费群体。</p>
        <p>②如在活动前对您的品牌或产品预热期越早，活动过程中的关注度越高，活动后的延续期越长，借助南太行“挂壁●天梯●画廊”万人帐篷节最具参与亮点的线上和线下的组织和人群聚集，以及后续的投票，宣传推广时间长达103天的不间断地进行品牌定向传播，一定会为您的企业带来无限的销售机会。</p>
        <p>③在不增加营销成本的情况下，还可以通过无限的创意，实现无尽的价值回报，因为户外运动是健康的标志，是一项最佳运动模式，所以，在具有影响力的户外运动活动中进行精准营销中蕴含着诸多价值。</p>

        <h2>12条无法拒绝的理由</h2>
        <p>1、南太行七大景区同步开启帐篷露营壮美景观</p>
        <p>2、全国招募均为户外精英达人</p>
        <p>3、100名摄影师全程跟踪影像宣传报道</p>
        <p>4、冠名、品牌、形象和商品展示随您所愿</p>
        <p>5、南太行万人帐篷节和您的品牌一起立体推广到每个角落</p>
        <p>6、参与活动互动环节中品牌聚焦</p>
        <p>7、不拘一格，不限多少随您赞助</p>
        <p>8、赞助就有单独出彩机会</p>
        <p>9、南太行是优质的品牌代言资源</p>
        <p>10、为您塑造更精辟的品牌故事</p>
        <p>11、给您的企业免费名额参与代言更贴切</p>
        <p>12、增强企业的美誉度、信誉度、体验度，容易达成客户认可和接受</p>

        <h2>南太行“挂壁●天梯●画廊”万人帐篷节天上人间狂野浪漫大型户外活动赞助项目</h2>
        <h3>1、总冠名权赞助费300万元</h3>
        <p>●主体：★★★★★★南太行“挂壁●天梯●画廊”万人帐篷节天上人间狂野浪漫！！！</p>
        <p>●印制的所有主物料中（赞助的物料进行洽谈）均出现您企业的logo形象</p>
        <p>●您可以同时在七大景区和八里沟售票大厅，广场等多处明显位置悬挂冠名的主体标语</p>
        <p>●在小猫游园网站上做180天您企业网站的广告友情推广链接</p>
        <p>●在小猫游园网站上的报名、投票界面展示您的产品或推广链接</p>

        <h3>2、徒步赛事冠名冠名权赞助费150万元</h3>
        <p>●主体：★★★★★★南太行“挂壁●天梯●画廊”徒步越野竞技挑战赛，并在天界山景区多处主要位置悬挂主体标语</p>
        <p>●来自全国的户外精英达人的参赛团队在16处精华景点按照您要求的进行拍照留影，你的企业可以在这长达16公里的徒步线路上提前布局，这16处拍照景点分别为：天界山景区清峰关广场---回龙挂壁---猕猴园---龙吟峡---镜面石---公鸡岭---螳螂窑---回龙西梯---雷音寺---蚂蚁岭---对屁股庵---十字岭---天书大讲堂---高山草甸---羊梯---石板河</p>
        <p>●您的企业可以在16公里的徒步线路上设置你企业的形象路标，漫山遍野的品牌形象将成为一道亮丽的风景线。</p>
        <p>●在印制的所有主物料中（赞助的物料进行洽谈）的明显位置均出现您的logo形象</p>
        <p>●在小猫游园网站上做180天您企业网站的广告友情推广链接</p>
        <p>●在小猫游园网站上的报名、投票界面展示您的产品或推广链接</p>
        <h3>3、胸前标识牌冠名权150万元</h3>
        <p>●凡参加这次南太行“挂壁●天梯●画廊”万人帐篷节天上人间狂野浪漫大型活动的人员，志愿者均需要在胸前佩戴唯一标识号牌。</p>
        <p>●胸前识别牌在不影响识别的前提下，由您企业自行设计，把品牌形象推广放大到极致</p>
        <p>●在印制所有主物料中（赞助的物料进行洽谈）的次要位置均出现您的logo形象</p>
        <p>●在小猫游园网站上做180天您企业网站的广告友情推广链接</p>
        <p>●在小猫游园网站上的报名、投票界面展示您的产品或推广链接</p>

        <h3>4八里沟定向越野对抗赛冠名权赞助费80万元</h3>
        <p>●主体：★★★★★★南太行“挂壁●天梯●画廊”定向越野竞技对抗赛，并在八里沟景区多处明显位置悬挂冠名主体标语</p>
        <p>●您的企业可以根据导游图在八里沟景区设置10个左右的点标地点，已达到展示您的企业形象为目的</p>
        <p>●为了增加和放大品牌或产品的放大效应，来自全国的户外精英达人的参赛团队必须在点标地点合影留念</p>
        <p>●在印制的所有主物料中（赞助的物料进行洽谈）的明显位置均出现您的logo形象</p>
        <p>●在小猫游园网站上做180天您企业网站的广告友情推广链接</p>
        <p>●在小猫游园网站上的报名、投票界面展示您的产品或推广链接</p>

        <h3>5、九莲山定向越野对抗赛冠名权赞助费80万元</h3>
        <p>●主体：★★★★★★南太行“挂壁●天梯●画廊”定向越野竞技对抗赛，并在九莲山景区多处明显位置悬挂冠名主体标语</p>
        <p>●您的企业可以根据导游图在九莲山景区设置10个左右的点标地点，已达到展示您的企业形象为目的</p>
        <p>●为了增加和放大品牌或产品的推广放大效应，来自全国的户外精英达人的参赛团队必须在点标地点合影留念</p>
        <p>●在印制的所有主物料中（赞助的物料进行洽谈）的次要位置均出现您的logo形象</p>
        <p>●在小猫游园网站上做180天您企业网站的广告友情推广链接</p>
        <p>●在小猫游园网站上的报名、投票界面展示您的产品或推广链接</p>

        <h3>6、画廊绳索攀岩对抗赛冠名权80万元</h3>
        <p>●主体：★★★★★★南太行“挂壁●天梯●画廊”画廊攀岩竞技挑战赛</p>
        <p>●您的企业可以根据自己的愿望在攀岩地点设置已达到展示您企业形象的标识物</p>
        <p>●为了增加和放大品牌效应，可以在攀岩的崖壁上悬挂能够达到宣传和推广企业形象和产品的标识</p>
        <p>●可以在万仙山景区的多处明显位置悬挂冠名主体标语</p>
        <p>●在印制的所有主物料中（赞助的物料进行洽谈）的次要位置均出现您的logo形象</p>
        <p>●在小猫游园网站上做180天您企业网站的广告友情推广链接</p>
        <p>●在小猫游园网站上的报名、投票界面展示您的产品或推广链接</p>
        <h3>7、帐篷实物赞助</h3>
        <p>●您的帐篷您做主，把您的企业logo和企业形象印制在帐篷的四面八角，在星空的夜晚南太行腹地亮起五颜六色的帐篷logo和品牌，这种巨大的灯火辉煌的产品推广效应你敢想象吗！！！</p>
        <p>●我们组织的100名专业摄影师，必须有以帐篷为主的摄影大赛，短视频和20-30分钟的纪录片，继而还有2篇以上图文并茂的作业贴来为您推广产品和品牌形象。</p>
        <p>●您还可以将一起赞助的睡袋、地席和防潮垫一起印制成企业品牌广告，让大家感受温暖的同时，也把您企业的爱心带回家，推广给亲朋好友。</p>
        <p>●在印制的所有主物料中（赞助的物料进行洽谈）的次要位置均出现您的logo形象</p>
        <p>●在小猫游园网站上做180天您企业网站的广告友情推广链接</p>
        <p>●在小猫游园网站上的报名、投票界面展示您的产品或推广链接</p>

        <h3>8、各类户外装备及其他物料的赞助，我们已经为您的形象、品牌和产品推广创意做足了准备，您把需求告诉我，剩下的事情由我来做……</h3>

        <p>经测算，这次南太行“挂壁●天梯●画廊”万人帐篷节天上人间狂野浪漫的大型户外露营活动将会被2.5亿精准目标人群点击浏览。</p>
        <p>如果您需要品牌和知名度推广、如果您需要销售产品、如果您需要迅速占领市场、如果您需要销售业绩，如果您还有别的需求就让咱们一起创造新的未来吧…………</p>
        <p>快来加入南太行“挂壁●天梯●画廊”万人帐篷节天上人间狂野浪漫的大型户外露营活动吧，你参与，就请在小猫游园客服为我们留言，或者把您的需求发至 catyynet@163.com 邮箱</p>
        <p class="highlight">电话联系：13525021239；13937392999</p>

    </div>
    <div id="submit-demand" class="panel panel-default top-space">
        <div class="panel-heading">
            <h3 class="panel-title">
                您把需求告诉我，剩下的事情由我来做……
            </h3>
        </div>
        <div class="panel-body">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <div class="fix-position"><a href="#submit-demand"><span class="glyphicon glyphicon-pencil"> 提交需求</span> </a> </div>
</div>
</div>
{% endblock %}